@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.beneficiary-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  gap: 1rem;
}

.home-container h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  padding: 1.5rem;
}

.home-container a {
  grid-column: span 2;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;
  z-index: 100;
}
.loading-container div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: spin 1s infinite linear;
}

body:has(.modal-container, .loading-container) {
  overflow: hidden;
}

button[type="submit"] {
  background-color: #6666ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.toast-container {
  height: 60px;
  aspect-ratio: 12/2;
  display: grid;
  place-items: center;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  animation: appear-from-top 2.5s ease-in forwards;
}
.toast-container.success {
  background-color: green;
}
.toast-container.error {
  background-color: red;
}
.toast-content {
  padding: 0.5rem 1rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toast-container button {
  position: absolute;
  top: 0px;
  right: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
