.productTable {
  border-collapse: collapse;
  width: calc(100% - 2rem);
  margin: 1rem;
  overflow-x: scroll;
  cursor: pointer;
}

.productTable thead,
.productTable tfoot {
  background-color: #6666ff;
  color: white;
  cursor: default;
}

.productTable td,
.productTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.productTable tr:nth-child(even) {
  background-color: #d6d6f4;
}

.productTable tbody tr:hover {
  background-color: #bfbfff;
}

.productTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-align: center;
  text-transform: uppercase;
}

.tableFooter {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: min(600px, 90vw);
  aspect-ratio: 16/9;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 10px 10px 80px 10px rgba(255, 255, 255, 0.6);
}
.modalCancel {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #d30a11;
  color: #fff;
  border-color: #fff;
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
}
.editContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.dataContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
